<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Inicio</a>

        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Libros
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" th:href="@{/libros}">Mostrar Libros</a></li>
                        <li><a class="dropdown-item" th:href="@{/libros/crear}">Crear Libro</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Autor
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" th:href="@{/autores}">Mostrar Autores</a></li>
                        <li><a class="dropdown-item" th:href="@{/autores/crear}">Crear Autor</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Editorial
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" th:href="@{/editoriales}">Mostrar Editoriales</a></li>
                        <li><a class="dropdown-item" th:href="@{/editoriales/crear}">Crear Editorial</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Usuarios
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" th:href="@{/usuarios}">Mostrar Usuarios</a></li>
                        <li sec:authorize="hasRole('ADMIN')" >
                            <a class="dropdown-item" th:href="@{/usuarios/crear}">Crear Usuario</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Rol
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" th:href="@{/rol/crear}">Crear Rol</a></li>

                    </ul>
                </li>
            </ul>
        </div>

        <div class="text-end">
            <a class="btn btn-light" th:href="@{/logout}">Finalizar sesión</a>
        </div>
    </div>
</nav>

<footer th:fragment="footer" class="footer py-1 bg-dark fixed-bottom">
    <div class="container d-flex justify-content-center">
        <span class="text-muted">&copy; Wanda Rocha - 2021</span>
    </div>
</footer>